<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/common/css/main.css}">
    <link rel="stylesheet" th:href="@{/blog/blog.css}">
    <link rel="stylesheet" th:href="@{/common/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/common/css/font-awesome.css}">
</head>
<body>

<div class="panel panel-default">

    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="loginin" name="loginForm" autocomplete="off">
            <!--登录名-->
            <div class="form-group">
                <label class="col-md-2 control-label required">登录名</label>
                <div class="col-md-4">
                    <input type="text" name="loginName" id="loginName"
                           class="form-control" placeholder="请输入您的登录名" required>
                </div>
            </div>
            <!--密码-->
            <div class="form-group">
                <label class="col-md-2 control-label required">密码</label>
                <div class="col-md-4">
                    <input type="password" name="password" id="password" class="form-control" placeholder="请输入您的邮箱密码"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <input type="submit" value="登录" class="btn btn-default btn-sm">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>